<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="f_movie">
	<insert id="insert" parameterType="vo.fashionBoardVo">
		insert into f_movieboard(num, title, p_name, p_price, content, path,reg_date,read_count )
		values(f_dramaboard_num.NEXTVAL,#{title},#{p_name},#{p_price},#{content},#{path}, sysdate, 0)
	</insert>
	
	<select id="selectList" resultType="vo.fashionBoardVo">
		select * from f_movieboard 
	</select>
	
	<select id="selectListRead" resultType="vo.fashionBoardVo">
		select * from f_movieboard order by read_count desc 
	</select>
	
	<delete id="delete" parameterType="String">
		delete from f_movieboard where num = #{num}
	</delete>
	
	<update id="readUpdate" parameterType="int">
		update f_movieboard set read_count= read_count+1
		where num = #{num}
	</update>
	
	
	<update id="update" parameterType="vo.fashionBoardVo">
		update f_movieboard set title =#{title}, p_name=#{p_name}, 
		p_price = #{p_price}, content= #{content}, path=#{path}
		where num = #{num}
	</update>
	
	<select id="select" parameterType="int" resultType="vo.fashionBoardVo">
		select * from f_movieboard where num=#{num}
	</select>

	
</mapper>

