<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	
	<update id="update_inform" parameterType="vo.mypage.mypageVo">
		update member set passwd=#{passwd}, name=#{name}, 
		zipcode=#{zipcode}, address=#{address}, email=#{email} 
		where id = #{memId}
	 <!-- modifyPro -->
	</update>
	
	<insert id="insert" parameterType="vo.MemberVo">
		insert into member
		values(#{memId},#{passwd},#{name},#{zipcode},#{address},#{email})
	</insert>

	<delete id="delete" parameterType="vo.mypage.mypageVo">
		delete from member where id = #{id}   <!-- modifyPro -->
	</delete>
	
	
	<select id = "idcheck" parameterType="String" resultType="String" >
      select id from member where id=#{id}
    </select>
    
    <select id = "idcheck2" parameterType="String" resultType="String" >
      select id from member where id like '%'||#{id}||'%'
    </select>

    <select id = "zipcheck" parameterType="String" resultType="vo.ZipcodeBean" >
      select * from zipcode where area4 like '%'||#{area4}||'%'
    </select>
    
    <select id = "selectlist" resultType="vo.mypageVo">
    	select * from mypage
    </select>

</mapper>

