<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
   <insert id = "add" parameterType="test.vo.TestVo">
      insert into testtable values(#{id},#{pwd},#{name})
   </insert>
   <update id = "pwdmodify" parameterType="test.vo.TestVo" >
      update testtable set pwd=#{pwd} where id=#{id}
   </update>
      <update id = "namemodify" parameterType="test.vo.TestVo" >
      update testtable set name=#{name} where id=#{id}
   </update>
   <select id = "idcheck" parameterType="String" resultType="String" >
      select id from testtable where id=#{id}
   </select>
   <select id = "pwdcheck"  parameterType="String" resultType="test.vo.TestVo">
      select * from testtable where id=#{id} and name=#{name}
   </select>
   <delete id = "delete" parameterType="java.lang.String" >
      delete from testtable where id=#{id} and pwd=#{pwd}
   </delete>
   <select id = "login" parameterType="test.vo.TestVo" resultType="String">
      select id from testtable where id=#{id} and pwd=#{pwd}
   </select>
      <select id = "findpwd" parameterType="test.vo.TestVo" resultType="String">
      select pwd from testtable where id=#{id} and name=#{name}
   </select>
</mapper>
